@media only screen and (min-width: 768px) {
* {
    width: 90;
}

.headline-tekst {
    display: flex;
    justify-content: center;
}

.headline-tekst h1 {
    margin-top: 3vh;
    font-size: 3rem;
    height: 10vh;
    width: 35vw;
    text-align: center;
}

.artiest1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.artiest-tekst {
    height: 10vh;
    width: 25vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    font-weight: bold;
}

.artiest-fotos, .artiest-fotos2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.artiest-fotos img {
    width: 25vw;
}
.artiest-fotos2 img {
    margin-bottom: 10vh;
    width: 25vw;
    height: 37.5vh;
}
}

@media only screen and (max-width: 767.9px) {
    .headline-tekst {
        display: flex;
        justify-content: center;
        margin-top: 3vh;
    }

    /* main */
    .artiest1 {
        display: flex;
    }

    .artiest-fotos {
        display: flex;
    }
    .artiest-fotos2 {
        display: flex;
    }
    .artiest-fotos img{
        width: 30vw;
    }
    .artiest-fotos2 img{
        width: 30vw;
    }

    .artiest-tekst {
        width: 30vw;
        background-color: antiquewhite;
        margin-top: 3vh;
    }

    /* footer */
    .homepageEventLink {
        position: absolute;
        top: 70vh;
    }
}