* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

@media only screen and (max-width: 767.9px) {    
    body {
        width: 90vw;
        margin: auto;
    }
    /* header */
    #homepage-header {
        height: 15vh;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .homepage-logo {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .homepage-logo img {
        align-self: flex-start;
        position: absolute;
        right: 5vw;
        top: 2vh;
    }

    .homepage-dropDownIcon {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .homepage-dropDownIcon p{
        align-self: flex-end;
        font-size: 3.5rem;
        position: absolute;
        top: 2vh;
        left: 5vw;
    }
    .homepage-dropDownIcon p:hover {
        color: khaki;
        cursor: pointer;
    }
    /* main */

    /* slideshow */
    #slideShow {
        width: 90vw; 
        height: 20vh; 
        background-size: cover;
    }
    /* footer */
    #homepage-footer {
        display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: space-between;
        height: 20vh;
    }
    #socialMedia-homepage{
        display: flex;
        flex-direction: column;
    }

    .homepageEventLink a{
        position: absolute;
        bottom: -24vh;
        left: 6vw;
        font-size: 1.6rem;
        list-style: none;
        text-decoration: none;
        color: #3f48cc;
    }

    .homepage-socialMediaLink ul li{
        list-style: none;
        font-size: 1.6rem;
        margin: 2vw;
    }
    .homepage-socialMediaLink a {
        text-decoration: none;
        color: #3f48cc;
    }

    .homepage-socialLinkList {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
    }

    /* display none */
    .homepage-webNav {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    body {
        width: 90vw;
        margin: auto;
    }
    /* header */
    #homepage-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .homepage-logo {
        margin-left: 3vw;
    }
    .homepage-webNav {
        margin-right: 3vw;
    } 
    .homepage-dropDownIcon {
        display: none;
    }
    
    /* main */
    #main-homepage {
        display: flex;
        flex-direction: row;
    }
    #wieIsRockHard {
        width: 45vw;
    }
    /* slideshow */
    #slideShow {
        width: 45vw; 
        height: 20vh; 
        background-size: cover;
    }

}