* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 767.9px) {    
    .logo {
        position: absolute;
        margin-left: 37vw;
    }
    .hamburger-icon {
        font-size: 3rem;
        position: relative;
        left: 85vw;
        top: 1vh;
    }
    .buttons {
        display: none;
    }
    #mid-1 {
        position: relative;
        top: 10vh;
    }
    #about-energy {
        position: relative;
        top: 40vh;
    }
    #ingredienten-energy {
        position: relative;
        top: 40vh;
    }
    #footer {
        position: relative;
        top: 40vh;
    }
}
@media only screen and (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }
}