nav ul{height:200px; width:18%;}
nav ul{overflow:hidden; overflow-y:scroll;}








.active {
	background-color: #87CEEB !important;
}

.content:not(:first-child) {
	display: none;
}
.contentSection {

	display: block;
}











